# Xiti credentials
authorization=YmlfdGVhbUBzY2hpYnN0ZWQuY2w6Vzd4dnZuS2oqcUdOQ0B+ZA==
# Xite sites ids
site_msite=535499
site_android=557231
site_ios=557229
# Xiti API URL
api_url_count=https://apirest.atinternet-solutions.com/data/v2/json/getRowCount
api_url_data=https://apirest.atinternet-solutions.com/data/v2/json/getData
# Xiti API variable
sort={-m_visitors}

# Xiti API Data
columns_msite={cl_142578,cl_142563,m_visitors}
columns_android={cl_351206,cl_351209,m_visitors}
columns_ios={cl_351192,cl_351195,m_visitors}
filter_msite={cl_142563:{$empty:false}}
filter_android={cl_351209:{$empty:false}}
filter_ios={cl_351195:{$empty:false}}

# Database Data Prod
#db_name=dw_blocketdb_ch
#db_user=bnbiuser
#db_host=localhost
#db_password=VE1bi@BN112AzLkOP
# Database Data Local
db_name=dw_blocketdb_ch
db_user=bnbiuser
db_host=postgres
db_password=123456
